* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    height: 100vh;
    overflow: hidden;
}

main {
    height: 100vh;
    background: rgb(232, 160, 227);
    background: linear-gradient(90deg, rgba(232, 160, 227, 1) 0%, rgba(228, 9, 199, 1) 100%);
    ;
    overflow: hidden;
}

/* header */


/* PcArea */


/* rightArea */


/* leftArea */
